{% extends "navbar/tienda.html" %}
{% load static %}
{% block content %}


<div class="container p-3">
  <ul class="nav justify-content-center bg-light">
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tienda:listar_productos' %}">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tienda:mostrar_materiales' %}">Materiales</a>
    </a>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tienda:listar_categorias' %}">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tienda:listar_comentarios' %}">Valoraciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tienda:listarcontacto' %}">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/solgas/usuario/administrar">Usuario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{% url 'tienda:administrar_pedidos' %}">Pedidos</a>
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/carrucel">carrucel</a>
    </li> 
  </ul>
</div> 
    
  <div class="d-flex flex-column">
    <div class="container text-center" >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header text-center font-weight-bold">
              <h4>Categorias</h4>
                <form class="flex-grow-1 mr-2 " method="GET" action="{% url 'tienda:listar_categorias' %}">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar materiales..." name="q" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                  </div>
                </form>
          </div>
          <div class="d-flex justify-content-end mb-2 py-2">
            <a href="/categorias-agregar" class="btn btn-success btn-sm">
              <i class="bi bi-plus-circle-fill"></i> Añadir Categoria
            </a>
          </div>
          <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <thead class=" text-center">

                <tr>
                  <th scope="col">#id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">imagen</th>
                  <th scope="col">fecha</th>
                  <th colspan="2">Opciones</th>
                </tr>
              </thead>
              <tbody class="text-center ">
                {% for categoria in categorias %}   
                <tr>
                  <td>{{ categoria.id }}</td>
                  <td>
                    <a href="">{{ categoria.nombre }}</a>
                  </td>
                  <td class="zoom">
                    {% if categoria.imagen %}
                      <img src="{{ categoria.imagen.url }}" width="70" height="70">
                    {% else %}
                      No image available
                    {% endif %}
                  </td>
                  <td>{{ categoria.created_at }}</td>
                  <td><a class="btn btn-secondary btn-sm" href="{% url 'tienda:modificar_categoria' categoria.nombre %}" type="button"><i class="bi bi-pencil-square"></i></a>
                  <a class="btn btn-danger btn-sm" href="{% url 'tienda:eliminar_categorias' categoria.nombre %}" type="button"><i class="bi bi-trash-fill"></i></a>
                </tr>
              </tbody>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
