{% extends "navbar/tienda.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .predeterminada {
        background-color: lightgreen;
    }
    
    .no-predeterminada {
        background-color: lightgray;
    }

    .card-footer {
        background: none;
        border: none;

    }
</style>


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Metodos de  Pago Guardadas</h2>

            {% if pagos %}
            <a class="btn btn-success btn-sm mb-4" href="{% url 'tienda:pago-nuevas' %}" type="button"><p>Agregar Otro Metodo de Pago</p></a>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for pago in pagos %}
                            <div class="col mb-4">
                                <div class="card predeterminada h-100">
                                    <div class="card-body">
                                        <p class="text-end text-success"> . </p>
                                        <h5 class="card-title"><i class="bi bi-person-fill me-2"></i>Número de Tarjeta: {{ pago.numero_tarjeta }}</h5>
                                        <p class="card-text"><i class="bi bi-telephone-fill me-2"></i> Válido Hasta: {{ pago.valido_hasta }}</p>
                                        <p class="card-text"><i class="bi bi-geo-alt-fill me-2"></i> Número Asociado: {{ pago.numero_asociado }}</p>
                                    </div>
                                    <div class="card-footer" style="border: none; background: none;">
                                        <a class="btn btn-secondary btn-sm" href="{% url 'tienda:pago_editar' pago.id %}" type="button"><i class="bi bi-pencil-square me-1"></i> Editar</a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'tienda:pago_eliminar' pago.id %}" type="button"><i class="bi bi-trash-fill me-1"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Editar Pago</h2>
                        <form id="direccion-form" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">Guardar Pago</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
